:root {
    --primary-blue: #2b5278;
    --secondary-blue: #17212b;
    --text-color: #ffffff;
    --hover-color: #182533;
    --online-color: #4CAF50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--secondary-blue);
    color: var(--text-color);
    height: 100vh;
    display: flex;
}

.main {
    background-image: url('/static/img/12.png');
    background-size: cover; 
    background-color: var(--primary-blue);
    width: 40px; 
    height: 40px; 
    border: none; 
    cursor: pointer; 
    margin-left: 200px;
    float: right;
    margin: 10px;
}

.date-divider {
    text-align: center;
    margin: 5px 0;
    font-size: 12px;
    color: #888;
}

.sidebar {
    width: 300px;
    background-color: var(--secondary-blue);
    border-right: 1px solid #3c3c3c;
    display: flex;
    flex-direction: column;
}

.settings {
    background-color: var(--primary-blue);
    height: 60px;
}

.settings-btn {
    background: none;
    padding: 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.set-btn {
    align-items: center;
    font-size: 20px;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.settings-menu {
    position: fixed;
    top: 60px;
    left: -280px;
    background-color: var(--secondary-blue);
    border-radius: 5px;
    width: 280px;
    z-index: 1000;
}

.settings-menu.active {
    display: block;
    left: 0;
    transition: left 0.5s ease;
}

.settings-menu button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background: none;
    border: none;
    color: var(--text-color);
    text-align: left;
    cursor: pointer;

}

.settings-menu button:hover {
    background-color: var(--hover-color);
}

.friends-list {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 20px;
}

.friend {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.friend:hover {
    background-color: var(--hover-color);
}

.friend img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend.active {
    background-color: var(--hover-color);
}

.chat-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    background-color: var(--primary-blue);
    height: 60px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-right: 1px solid #3c3c3c;
    max-width: 100vh;
    background-image: url('/static/img/chatwall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;

}

.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}

.message.received {
    background-color: #f2f2f2;
}

.my-message {
    background-color: rgba(232,255,237,0.2); /* Зеленый фон для ваших сообщений */
    text-align: right; /* Выравнивание текста по правому краю */
    margin-left: 20%;
}

.other-message {
    background-color: rgba(255,255,255,0.2); /* Серый фон для сообщений других пользователей */
    text-align: left; /* Выравнивание текста по левому краю */
    margin-right: 20%;
}

.message-input {
    padding: 15px;
    background-color: var(--secondary-blue);
    display: flex;
    align-items: center;
    border-right: 1px solid #3c3c3c;
    width: 100vh;
}

.createdAt {
    padding: 3px;
    border: none;
    font-size: 12px;
    border-radius: 15px;
    color: lightgrey;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    background-color: lightgrey;
}

.emoji-btn, .file-btn{
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

#emojiPicker {
    display: none;
    width: 280px;
    height: 150px;
    resize: none;
    overflow-y: auto;
    position: fixed;
    bottom: 60px; /* Позиционирование панели выше кнопки */
    background-color: grey;
    padding: 10px;
    z-index: 1000;
    margin-left: 60vh;
}

#emojiPicker .emoji {
    cursor: pointer;
    font-size: 18px;
    margin: 1px;
}

.send-btn  {
    background-color: var(--primary-blue);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.send-btn:hover {
    background-color: #366290;
}

.mail {
    position: absolute;
    padding: 10px;
    right: 0;
    transform: translateX(-30%);
}

.file-input {
    display: none;
}

.file-preview {
    max-width: 200px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--hover-color);
    border-radius: 4px;
    word-break: break-all;
}

.online-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.online {
    background-color: green; /* Цвет для онлайн статуса */
}

.offline {
    background-color: gray; /* Цвет для оффлайн статуса */
}

.notification-badge {
    position: fixed;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    float: right;
    bottom: 10px;
    right: 8px
}

.lastMessage {
    font-size: 12px;
    display: block;
    float: bottom;
    bottom: 10px;
    max-width: 150px; /* Установите желаемую ширину */
    white-space: nowrap; /* Запретить перенос строк */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Добавить многоточие */
}