<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles/chat.css">

</head>
<body>
<div class="sidebar">
    <div class="settings">
        <button class="settings-btn">☰</button>
        <div class="settings-menu">
            <button class="set-btn" data-url="/auth/profile">💷 Профиль</button>
            <button class="set-btn" data-url="/auth/friends">👫 Друзья</button>
            <button class="set-btn" data-url="/auth/groups">👨‍👨‍👦 Группы</button>
            <button class="set-btn" data-url="/auth/files">💾 Файлы</button>
            <button class="set-btn" style="background: rgba(100,0,0,0.2)">🚪 Выйти</button>
                    </div>
    </div>
    <div class="friends-list" id="friends-list">
                <div class="user-item" data-user-id="{{ user.id }}">
            
        </div>
    <!-- Друзья будут добавляться динамически -->
    </div>
</div>

<div class="chat-area">
    <div class="chat-header" id="chat-header">
        <h3>Выберите чат</h3>
    </div>
    <div class="messages" id="messages">
        <!-- Сообщения будут добавляться динамически -->
    </div>
    <div class="message-input">
            <input type="text" id="messageInput" maxlength="300" placeholder="Введите сообщение..." disabled>
            <button class="file-btn" style="margin-left: 5px">📎</button>
            <input type="file" class="file-input" multiple>
            <button class="emoji-btn">😊</button>
            <button class="send-btn" id="send-btn">Отправить</button>
            <div class="emoji-picker" id="emojiPicker">
            <!-- Эмодзи будут добавлены динамически -->
            </div>
    </div>
</div>
<script>
    // Передаем идентификатор текущего пользователя в JavaScript
    const currentUserId = parseInt("{{ user.id }}", 10);
    const avatar = parseInt("{{ user.avatar }}", 10);
</script>

<script src="/static/js/chat.js"></script>
</body>
</html>