<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои файлы</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles/files.css">

</head>
<body>
<div class="sidebar">
    <div class="settings">
        <button class="settings-btn">☰</button>
        <div class="settings-menu">
            <button class="set-btn" data-url="/auth/profile">💷 Профиль</button>
            <button class="set-btn" data-url="/auth/friends">👫 Друзья</button>
            <button class="set-btn" data-url="/auth/groups">👨‍👨‍👦 Группы</button>
            <button class="set-btn" data-url="/auth/files">💾 Файлы</button>
            <button class="set-btn"style="background: rgba(100,0,0,0.2)">🚪 Выйти</button>
        </div>
        <button class="main" id="main"></button>
    </div>
</div>

<div class="main-area">
    <div class="files-header">
        <h3>Мои файлы</h3>
    </div>
    <div class="search-bar">
        <input type="text" class="search-input" maxlength="30" placeholder="Поиск файлов...">
    </div>
    <div class="files-container" id="files-container">

    </div>
</div>
<script src="/static/js/files.js"></script>
</body>
</script>
</html>