<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои друзья</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
 <link rel="stylesheet" type="text/css" href="/static/styles/friends.css">

</head>
<body>
<div class="sidebar">
    <div class="settings">
        <button class="settings-btn">☰</button>
        
        <div class="settings-menu">
            <button class="set-btn" data-url="/auth/profile">💷 Профиль</button>
            <button class="set-btn" data-url="/auth/friends">👫 Друзья</button>
            <button class="set-btn" data-url="/auth/groups">👨‍👨‍👦 Группы</button>
            <button class="set-btn" data-url="/auth/files">💾 Файлы</button>
            <button class="set-btn"style="background: rgba(100,0,0,0.2)">🚪 Выйти</button>
        </div>
        <button class="main" id="main"></button>
    </div>
    
    <div class="friends-list">
        <div class="friend-item">
            <div class="friend-avatar">
            </div>
            <span>Друг 1</span>
        </div>
    </div>
</div>

<div class="main-area">
    <div class="chat-header">
        <h3>Поиск друзей</h3>
    </div>
    <div class="search-bar">
        <input type="text" class="search-input" maxlength="20" placeholder="Поиск пользователей...">
    </div>
    <div class="user-list" id="user-list">
        {% for chat in users_all %}
            {% if chat.id != user.id %}
                    <div class="user-item" data-user-id="{{ user.id }}">
                    <span style="font-size: 30px;">{{user.avatar}}</span>
                    <div style="margin-left: 10px;"> <div>{{chat.name}}</div>
                        
                    </div><button class="add-friend-btn">+</button>
                 </div>
               
            {% endif %}
        {% endfor %}    
    </div>
</div>
<script>
const currentUserId = parseInt("{{ user.id }}", 10);
</script>
<script src="/static/js/friends.js"></script>
</body>
</script>
</html>