<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Группы</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles/groups.css">

</head>
<body>
<div class="sidebar">
    <div class="settings">
        <button class="settings-btn">☰</button>
        <div class="settings-menu">
            <button class="set-btn" data-url="/auth/profile">💷 Профиль</button>
            <button class="set-btn" data-url="/auth/friends">👫 Друзья</button>
            <button class="set-btn" data-url="/auth/groups">👨‍👨‍👦 Группы</button>
            <button class="set-btn" data-url="/auth/files">💾 Файлы</button>
            <button class="set-btn"style="background: rgba(100,0,0,0.2)">🚪 Выйти</button>
        </div>
        <button class="main" id="main"></button>
    </div>
    <div class="groups-list">
        <button class="create-group-btn">Создать группу</button>
        <div class="group-item">
            <div class="group-avatar">G1</div>
            <span>Группа 1</span>
        </div>
        <div class="group-item">
            <div class="group-avatar">G2</div>
            <span>Группа 2</span>
        </div>
        <div class="group-item">
            <div class="group-avatar">G3</div>
            <span>Группа 3</span>
        </div>
    </div>
</div>

<div class="main-area">
    <div class="chat-header">
        <h3>Добавить друзей в группу</h3>
    </div>
    <div class="friend-list">
        <div class="friend-item">
            <div class="friend-info">
                <div class="friend-avatar">
                    <div class="online-status"></div>
                </div>
                <span>Друг 1</span>
            </div>
            <button class="add-to-group-btn">+</button>
        </div>
        <div class="friend-item">
            <div class="friend-info">
                <div class="friend-avatar"></div>
                <span>Друг 2</span>
            </div>
            <button class="add-to-group-btn">+</button>
        </div>
        <div class="friend-item">
            <div class="friend-info">
                <div class="friend-avatar">
                    <div class="online-status"></div>
                </div>
                <span>Друг 3</span>
            </div>
            <button class="add-to-group-btn">+</button>
        </div>
    </div>
</div>

<script src="/static/js/groups.js"></script>
</body>
</html>