<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой профиль</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles/profile.css">

</head>
<body>
<div class="sidebar">
    <div class="settings">
        <button class="settings-btn">☰</button>
        <div class="settings-menu">
            <button class="set-btn" data-url="/auth/profile">💷 Профиль</button>
            <button class="set-btn" data-url="/auth/friends">👫 Друзья</button>
            <button class="set-btn" data-url="/auth/groups">👨‍👨‍👦 Группы</button>
            <button class="set-btn" data-url="/auth/files">💾 Файлы</button>
            <button class="set-btn"style="background: rgba(100,0,0,0.2)">🚪 Выйти</button>
        </div>
        <button class="main" id="main"></button>

    </div>
</div>

<div class="profile-area">
    <div class="chat-header">
        <h3>Профиль</h3>
    </div>
    <div class="profile-area-button">
        <input type="text" id="newDepartment" class="setInput" maxlength="4" placeholder="{{user.department}}" >
        <button class="profile-button" onclick="changeDepartment()">Выбор отдела</button><div id="departmentChangeMessage"></div>
    </div>
    
    <div class="profile-area-button">
        <span id = "ava" style="font-size: 28px;text-align: center;"></span>
        <button class="profile-button" id = "chose_avatar">Выбор аватара</button>
        <div class="ava-picker" id="avaPicker"></div>
    </div>

    <div class="profile-area-button">
        <input type="text" id="newName" class="setInput" maxlength="20" placeholder="{{user.name}}" >
        
        <button class="profile-button" onclick="changeName()">Смена имени</button>
        <div id="nameChangeMessage"></div>
    </div>

    <div class="profile-area-button">
        <input type="password" id="oldPassword" class="setInput" maxlength="20" placeholder="Введите старый пароль..." required="">
        <input type="password" id="newPassword" class="setInput" maxlength="20" placeholder="Введите новый пароль..." required="">
        <input type="password" id="confirmNewPassword" class="setInput" maxlength="20" placeholder="Подтвердите новый пароль..." required="" >
        <button class="profile-button" onclick="changePassword()">Смена пароля</button>
               <div id="passwordChangeMessage"></div>

    </div>
    <div class="profile-area-button">
        <button class="profile-button danger">Удалить аккаунт</button>
    </div>
    

</div>

<script>
    const currentUserId = parseInt("{{ user.id }}", 10);
    const avatar = parseInt("{{ user.avatar }}", 10);
</script>
<script src="/static/js/profile.js"></script>

</body>
</html>

